.metadata
DekoDar/build/
DekoDar/.settings/
DekoDar/WebContent/WEB-INF/lib/
DekoDar/.classpath
DekoDar/.project

DekoDar-ear/

DekoDar-ejb/build/
DekoDar-ejb/.settings/
DekoDar-ejb/.classpath
DekoDar-ejb/.project
DekoDar-ejb/DekoDar-ejb.launch
DekoDar-ejb/hibernate-console.properties

DekoDar-test/bin/
DekoDar-test/bootstrap/
DekoDar-test/lib/
DekoDar-test/.settings/
DekoDar-test/.classpath
DekoDar-test/.project
